// Variables

// Restated Bootstrap Variables

$white: #fefefe !default;
$light-shade: #f8f8f8 !default;
$grey: #8b9094 !default;
$dark-grey: #495057 !default;
$dark-shade: #404346 !default;
$black: #111111 !default;

$mobile-menu: #2a2a2a !default;
$accent: #ffd05c !default;
